---
import AstroIcon from "../icons/AstroIcon.astro"
import CSSIcon from "../icons/CSSIcon.astro"
import GithubIcon from "../icons/GithubIcon.astro"
import HTMLIcon from "../icons/HTMLIcon.astro"
import JSIcon from "../icons/JSIcon.astro"
import NetlifyIcon from "../icons/NetlifyIcon.astro"
import LinkIcon from "../icons/LinkIcon.astro"
import TailwindIcon from "../icons/TailwindIcon.astro"

const TAGS = {
    HTML: {
        name: "HTML",
        icon: HTMLIcon,
    },
    CSS: {
        name: "CSS",
        icon: CSSIcon,
    },
    JS: {
        name: "JavaScript",
        icon: JSIcon,
    },
    NETLIFY: {
        name: "Netlify",
        icon: NetlifyIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        icon: TailwindIcon,
    },
    ASTRO: {
        name: "Astro",
        icon: AstroIcon,
    }
}
const PROJECTS = [
    {
        title: 'BASO Project',
        description: 'Landing static page created for my high school technology team. I used HTML, CSS and JavaScript to make it and I also used GitHub Pages to deploy it to production. I learnt a lot about web development and I also improved my programming skills since it has been my first real project deployed to production.',
        link: 'https://baso-project.github.io',
        github: 'https://github.com/BASO-Project/baso-project.github.io',
        picture: '/projects/baso-project.jpeg',
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
    },
    {
        title: 'Portfolio',
        description: 'Created with Astro, a static site JavaScript framework. I used Tailwind CSS to style it, and I also used Netlify to deploy it. I learnt a lot about Astro and Tailwind CSS, since they were new technologies for me. It has been my first portfolio and I consider these frameworks I used will be very useful for my near future.',
        link: 'https://dayv1d-portfolio.netlify.app',
        github: 'https://github.com/Dayv1dDev/portfolio',
        picture: '/projects/portfolio.jpeg',
        tags: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.NETLIFY],
    },
]
---

<div class="flex flex-col gap-y-10">
{
    PROJECTS.map(({ title, description, picture, tags, github, link }) => (
        <article class="flex flex-col rounded-lg pb-4 group">
            <div class="relative aspect-video rounded-lg overflow-hidden">
                <img class="w-[740px] aspect-video object-cover rounded-lg group-hover:scale-110 transition-transform duration-500" src={picture} alt={`Screenshot from ${title}`}>
            </div>
            <div class="mx-4">
                <div class="flex gap-x-4 items-center mt-4">
                    <h3 class="sm:text-xl text-lg font-medium text-purple-300">{title}</h3>
                    <div class="flex gap-x-3 place-items-center">
                        <a href={github} target="_blank" rel="noopener noreferrer">
                            <GithubIcon class="size-[18px]" />
                        </a>
                        <a href={link} target="_blank" rel="noopener noreferrer">
                            <LinkIcon class="size-4" />
                        </a>
                    </div>
                </div>
                <p class="mb-3 md:text-base text-sm text-pretty text-gray-200">{description}</p>
                <ul class="flex flex-row gap-x-2">
                    {tags.map(tag =>(
                        <li class={`inline-flex gap-x-[6px] rounded-full text-xs px-3 py-1.5 font-semibold`}>
                            <tag.icon class="size-4" />
                            <span>
                                {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
            </div>
        </article>
    ))
}
</div>

<style>
    article {
        background-color: hsl(0 0% 4%);
    }

    li {
        background-color: hsl(0 0% 8%);
    }
</style>
