---
import LocationIcon from './icons/LocationIcon.astro'

interface Props {
    date: string
    title: string
    institution: string
    location?: string
    description: string
}

const { date, title, institution, location, description } = Astro.props
---

<li class="mb-10 ms-4">
    <div class="absolute w-3 h-3 bg-gray-100 rounded-full mt-1.5 -start-1.5 border border-gray-200"></div>
    <time class="mb-1 sm:text-sm text-xs font-normal leading-none text-gray-200">{date}</time>
    <h3 class="sm:text-xl text-lg text-balance leading-none sm:my-0 my-1 font-semibold text-white">{title}</h3>
    <div class="flex gap-x-[15px]">
        <h4 class="text-purple-300 sm:text-lg text-base font-semibold">{institution}</h4>
        {
        location && (
        <div class="flex gap-x-[2px] items-center">
            <LocationIcon class="size-4" />
            <span class="text-gray-200 text-sm">{location}</span>
        </div>
        )
        }
    </div>
    <p class="text-pretty mb-4 md:text-base text-sm font-normal text-gray-200">{description}</p>
</li>