---
import GithubIcon from "./icons/GithubIcon.astro"
import HTMLIcon from "./icons/HTMLIcon.astro"
import CSSIcon from "./icons/CSSIcon.astro"
import JSIcon from "./icons/JSIcon.astro"

const TAGS = {
    HTML: {
        name: "HTML",
        class: "bg-orange-400/50 text-[#eee] border border-orange-300",
        icon: HTMLIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-blue-600/40 text-[#eee] border border-blue-400",
        icon: CSSIcon,
    },
    JS: {
        name: "JavaScript",
        class: "bg-yellow-400/50 text-[#eee] border border-yellow-300",
        icon: JSIcon,
    },
}
const PROJECTS = [
    {
        title: 'BASO Project',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex blanditiis fuga, tenetur qui quod sed explicabo praesentium expedita eius error provident modi pariatur, adipisci mollitia cum natus ratione! Ducimus, suscipit!',
        link: 'https://basa2.github.io',
        github: 'https://github.com/basa2/basa2.github.io',
        picture: '../../public/projects/baso-project.webp',
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JS],
    },
    {
        title: 'Arkaday',
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex blanditiis fuga, tenetur qui quod sed explicabo praesentium expedita eius error provident modi pariatur, adipisci mollitia cum natus ratione! Ducimus, suscipit!',
        link: 'https://basa2.github.io',
        github: 'https://github.com/Dayv1dDev/Arkaday',
        picture: '../../public/projects/baso-project.webp',
        tags: [TAGS.JS],
    },
]
---

{
    PROJECTS.map(({ title, description, picture, tags, github, link }) => ( 
        <article class="flex flex-row bg-black/60 rounded-lg p-4 mb-4">
            <div>
                <h3 class="text-xl font-medium text-purple-300">{title}</h3>
                <p class="text-base text-pretty">{description}</p>
                <a class="my-5" href={github} target="_blank">
                    <GithubIcon class="size-5 my-3" />
                </a>
                <ul class="flex flex-row gap-x-2">
                    {tags.map(tag =>(
                        <li>
                            <span class={`flex gap-x-1 rounded-full text-xs px-2 py-2 font-semibold ${tag.class}`}>
                                <tag.icon class="size-4" />
                                {tag.name}
                            </span>
                        </li>
                    ))}
                </ul>
            </div>
            <img class="w-36 h-auto" src={picture} alt={`Screenshot from ${title}`}>
        </article>
    ))
}